<a href="https://colab.research.google.com/github/yagnik99/Stock-Sentiment-Analysis-and-classification/blob/main/stock_sentiment__analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Stock Sentiment Analysis and classification**

### The data set is a combination of world new and stock price shifts.
###There are 25 columns of top news headlines.
###Data is collected from 2000 to 2016.

### Class - 1 : Stock price increased
### Class - 0 : Stock price decreased or remained constant.

In [ ]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
folder = '/content/drive/MyDrive/Colab Notebooks/data/'

In [ ]:
data = pd.read_csv( folder + 'stock_data.csv', encoding = 'ISO-8859-1')

In [ ]:
data.head()

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite
2  2000-01-05  ...                  Useful links
3  2000-01-06  ...   Lessons of law's hard heart
4  2000-01-07  ...                    Gone aloft

[5 rows x 27 columns]

In [ ]:
train = data[data['Date'] < '20150101']
test = data[data['Date'] > '20141231']

In [ ]:
# Removing punctuations.
data = train.iloc[:,2:27]
data.replace('[^a-zA-Z]', ' ', regex=True, inplace= True)     # Removing/ replacing all punctuations except a-z & A-Z with ' '(blank)

In [ ]:
# Renaming columns
list1 = [i for i in range(25)]
new_index = [str(i) for i in list1]
data.columns = new_index
data.head(3)

                                                   0  ...                            24
0  A  hindrance to operations   extracts from the...  ...            Recovering a title
1                                          Scorecard  ...  Millennium bug fails to bite
2                  Coventry caught on counter by Flo  ...                  Useful links

[3 rows x 25 columns]

In [ ]:
# Converting all sentences to smaller case.
for index in new_index:
  data[index] = data[index].str.lower()
data.head(1)

                                                   0  ...                  24
0  a  hindrance to operations   extracts from the...  ...  recovering a title

[1 rows x 25 columns]