<a href="https://colab.research.google.com/github/yagnik99/Stock-Sentiment-Analysis-and-classification/blob/main/stock_sentiment__analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Stock Sentiment Analysis and classification**

### The data set is a combination of world new and stock price shifts.
###There are 25 columns of top news headlines.
###Data is collected from 2000 to 2016.

### Class - 1 : Stock price increased
### Class - 0 : Stock price decreased or remained constant.

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
folder = '/content/drive/MyDrive/Colab Notebooks/data/'

In [4]:
data = pd.read_csv( folder + 'stock_data.csv', encoding = 'ISO-8859-1')

In [5]:
data.head()

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite
2  2000-01-05  ...                  Useful links
3  2000-01-06  ...   Lessons of law's hard heart
4  2000-01-07  ...                    Gone aloft

[5 rows x 27 columns]

In [6]:
train = data[data['Date'] < '20150101']
test = data[data['Date'] > '20141231']

In [7]:
# Removing punctuations.
data = train.iloc[:,2:27]
data.replace('[^a-zA-Z]', ' ', regex=True, inplace= True)     # Removing/ replacing all punctuations except a-z & A-Z with ' '(blank)

In [8]:
# Renaming columns
list1 = [i for i in range(25)]
new_index = [str(i) for i in list1]
data.columns = new_index
data.head(3)

                                                   0  ...                            24
0  A  hindrance to operations   extracts from the...  ...            Recovering a title
1                                          Scorecard  ...  Millennium bug fails to bite
2                  Coventry caught on counter by Flo  ...                  Useful links

[3 rows x 25 columns]

In [9]:
# Converting all sentences to smaller case.
for index in new_index:
  data[index] = data[index].str.lower()
data.head(1)

                                                   0  ...                  24
0  a  hindrance to operations   extracts from the...  ...  recovering a title

[1 rows x 25 columns]

In [10]:
headlines = []
for row in range(0,len(data.index)):
  headlines.append(' '.join(str(x) for x in data.iloc[row,0:25]))

In [11]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [13]:
#implement bag of words
countvector = CountVectorizer(ngram_range=(2,2))
traindataset = countvector.fit_transform(headlines)

In [17]:
# Implementing Randomforest classifier
randomclassifier = RandomForestClassifier(n_estimators=200, criterion='entropy')
randomclassifier.fit(traindataset, train['Label'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
# Preparing train dataset with same steps as above
test_transform = []
for row in range(0, len(test.index)):
  test_transform.append(' '. join(str(x) for x in test.iloc[row, 2:27]))
test_dataset = countvector.transform(test_transform)
predictions = randomclassifier.predict(test_dataset)

In [20]:
# Import Library to check accuracy
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [21]:
# Confusion matrix
print(confusion_matrix(test['Label'], predictions))

[[144  42]
 [  8 184]]

In [22]:
# Accuracy Score
print(accuracy_score(test['Label'], predictions))

0.8677248677248677

In [23]:
print(classification_report(test['Label'], predictions))

              precision    recall  f1-score   support

           0       0.95      0.77      0.85       186
           1       0.81      0.96      0.88       192

    accuracy                           0.87       378
   macro avg       0.88      0.87      0.87       378
weighted avg       0.88      0.87      0.87       378